.search{
    display: flex;
    flex-direction: row;
  }
  
  .searchBox {
    width:inherit;
    height: 75;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto 0 10;
    text-align: center;
  }

  .searchButton{
    color:blue
  }